/* Global Styles */
html,
body {
    font-family: "Inter", sans-serif;
    height: 100%;
    margin: 0;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

/* Main Content */
.container {
    display: flex; /* Menggunakan flexbox untuk mengatur layout */
    flex-direction: row; /* Mengatur arah flex menjadi baris */
    height: 100vh; /* Mengatur tinggi container menjadi 100vh */
}

.sidebar {
    width: 15%; /* Lebar sidebar */
    background-color: white;
    height: 100%; /* Mengatur tinggi sidebar menjadi 100% dari container */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 85%; /* Lebar konten utama */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Menyusun konten secara vertikal */
    justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.search-input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.profile-info {
    text-align: right;
    margin-right: 15px;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
}

.profile-username {
    color: #6b7280;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    margin-left: 10px;
}

.content h1 {
    font-size: 32px;
    font-weight: bold;
}

.content p {
    color: #666;
}

.chapter {
    margin: 5px 0;
}

.chapter h2 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chapter h2 i {
    margin-right: 10px;
    transition: transform 0.3s;
}

.chapter .card-container {
    display: none; /* Hide by default */
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.chapter.open .card-container {
    display: flex; /* Show content when chapter is open */
    max-height: 500px; /* Adjust as needed */
}

.chapter.open h2 i {
    transform: rotate(90deg); /* Rotate chevron when open */
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px;
    border-left: 5px solid #ffd700;
}

.card img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card .info {
    text-align: left;
    width: 100%;
}

.card .info h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.card .info p {
    color: #666;
}

.card .info .author {
    display: flex;
    align-items: center;
}

.card .info .author img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.card .info .author span {
    font-size: 12px;
    color: #333;
}

.progress-container {
    width: 100%;
    height: 8px;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background-color: #1237a1;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.download-btn {
    position: absolute;
    top: 230px;
    right: 10px;
    background-color: #ffb900;
    color: #000000;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #1237a1;
    color: white;
}

.badge {
    background-color: #0056b3;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
}

.locked-message {
    background-color: #fff;
    color: #333;
    padding: 2px 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    font-size: 12px;
}

.locked-message i {
    margin-right: 5px;
    color: #0056b3;
}
