footer {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    color: #131313;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #131313; /* Warna putih untuk title */
    margin: 0;
}

.footer-subtitle {
    font-size: 16px;
    color: #131313; /* Warna putih untuk subtitle */
    margin-top: 5px; /* Jarak antara title dan subtitle */
    white-space: pre-line;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}

.footer-logo img {
    width: 300px !important;
    height: 180px !important;
}

.footer-menu {
    margin-bottom: 20px;
    text-align: center;
}

.footer-menu h3 {
    font-size: 20px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-menu li {
    margin-top: 10px;
    font-size: 18px;
}

.footer-menu a {
    text-decoration: none;
    color: #131313;
}

.footer-menu a:hover {
    color: #1237a1;
}
