@import url("https://fonts.googleapis.com/css?family=Poppins");
html,
body {
    padding: 0;
    margin: 0;
}

/* typography*/
/* typography reset*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    padding: 0;
}

.h1 {
    font-weight: 700;
    margin-bottom: 100px;
    letter-spacing: 2;
}

.sidebar-brand span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    background: linear-gradient(to right, #ffde00, #1873d3);
    -webkit-background-clip: text; /* For Chrome and Safari */
    background-clip: text; /* Standard property for other browsers */
    -webkit-text-fill-color: transparent; /* For text color compatibility */
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0; /* Menghilangkan margin atas */
    padding-top: -10px;
}

/*new code*/
.sidebar-nav a {
    display: block;
    text-decoration: none;
    padding-left: 32px;
    color: #818181;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 20px auto;
    font-size: 18px;
}

.sidebar-nav a:first-child {
    margin: 120px auto;
}

.sidebar-nav a:hover {
    color: #f59e0b;
}

/* Desktop View*/
@media only screen and (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 60px 40px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* mobile */
#page-content-wrapper #menu-toggle {
    cursor: pointer;
    font-size: 30px;
}