.right-sidebar {
    width: 25%; /* Lebar sidebar kanan */
    padding: 10px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    margin-left: 50px;
}

.profile-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.profile {
    display: flex;
    align-items: center; /* Vertikal center */
}

.profile-pic {
    width: 50px; /* Ukuran foto profil */
    height: 50px; /* Ukuran foto profil */
    border-radius: 50%; /* Bulat */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    margin-right: 10px; /* Ruang antara gambar dan teks */
}

.notifications {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.calendar-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.calendar-title {
    color: #4a5568; /* Warna abu-abu gelap */
    font-weight: 600;
    margin-bottom: 1rem;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #4a5568; /* Warna abu-abu gelap */
    font-weight: 400;
}

.stats-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.stats-title {
    color: #4a5568; /* Warna abu-abu gelap */
    font-weight: 600;
    margin-bottom: 1rem;
}

.stats-bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 6rem; /* Tinggi area statistik */
    margin-bottom: 1rem;
}

.bar {
    width: 1rem;
    background-color: #f6e05e; /* Warna kuning */
}

.days {
    display: flex;
    justify-content: space-around;
    color: #4a5568; /* Warna abu-abu gelap */
    font-size: 13px;
}

.calendar-grid div {
    position: relative;
    padding: 10px;
    text-align: center;
}

.today {
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 1rem; /* Adjust the font size for better fit */
    padding: 0.25rem; /* Reduce padding to make the circle smaller */
    width: 0.7rem; /* Smaller circle width */
    height: 0.7rem; /* Smaller circle height */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.has-red-dot::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Move the red dot closer */
    left: 50%;
    transform: translateX(-50%);
    width: 6px; /* Smaller dot */
    height: 6px; /* Smaller dot */
    background-color: red;
    border-radius: 50%;
}
