body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #f5f7fa;
    position: relative;
}

.certificate-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate-section-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.certificate-section-content img {
    width: 100%;
    border-radius: 10px;
}

.download-button {
    margin-top: 20px;
    text-align: center;
}

.download-button button {
    background-color: #ffcc00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button button:hover {
    background-color: #ffb900; /* Darker shade for hover effect */
}
